@import "tailwindcss";

@theme {
  --font-sweet: "sweet-sans-pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-ivy: "ivypresto-display", Georgia, serif;

  --color-wine: #560707;
  --color-blush: #FFF8FA;
  --color-charcoal: #5F5353;
  --color-cocoa: #855050;
  --color-hover: #F9F7F7;
  --color-green: #C6D7B9;
}

html,
body {
  @apply bg-blush;
}

@layer base {
  h1 {
    font-size: 56px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  h2 {
    font-size: 40px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  p {
    font-size: 16px;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
  }

  @media (max-width: 40rem) {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 34px;
    }
    p {
      font-size: 12px;
    }
  }
}