@import "tailwindcss";

@theme {
  --font-sweet: "sweet-sans-pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-ivy: "ivypresto-display", Georgia, serif;

  --color-wine: #560707;
  --color-blush: #FFF8FA;
  --color-charcoal: #5F5353;
  --color-cocoa: #855050;
  --color-hover: #F9F7F7;
}

html,
body {
  @apply bg-blush;
}

@layer base {
  h1 {
    font-size: 56px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  h2 {
    font-size: 40px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  h3 {
    font-size: 32px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  h4 {
    font-size: 24px;
    font-family: ivypresto-display, serif;
    font-weight: 300;
    color: var(--color-wine);
  }
  h5 {
    font-size: 20px;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
  }
  h6 {
    font-size: 18px;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
  }

  li {
    font-size: 18px;
    font-family: basic-sans, sans-serif;
    font-weight: 400;
  }

  @media (max-width: 40rem) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 34px;
    }
    h3 {
      font-size: 30px;
      line-height: 36px;
    }
    h4 {
      font-size: 26px;
    }
    h5 {
      font-size: 23px;
    }
    h6 {
      font-size: 20px;
      line-height: 25px;
    }
    p {
      font-size: 16px;
    }
    ps {
      font-size: 12px;
    }
    li {
      font-size: 16px;
    }
  }
}